.contactForm {
  box-shadow: 0 0 30px rgba(var(--color-black-rgb), 0.1);
  padding: 30px;
  background: var(--color-white);
}

@media (max-width: 640px) {
  .contactForm {
    padding: 20px;
  }
}

.contactForm .errorMessage {
  color: var(--color-white);
  background: var(--color-red);
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contactForm .errorMessage br + br {
  margin-top: 25px;
}

.contactForm .sentMessage {
  color: var(--color-white);
  background: var(--color-green);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contactForm .loading {
  background: var(--color-white);
  text-align: center;
  padding: 15px;
}

.contactForm .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--color-green);
  border-top-color: var(--color-white);
  animation: animate-loading 1s linear infinite;
}

.contactForm .formGroup {
  margin-bottom: 20px;
}

.contactForm input,
.contactForm textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

.contactForm input::focus,
.contactForm textarea::focus {
  background-color: var(--color-primary);
}

.contactForm Button[type="submit"] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contactForm Button[type="submit"]:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
